<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
  </head>

  <body><!-- Body Start -->

    <div class="header"> <!-- Header Start -->
      <h1>Link Shortener</h1>
    </div> <!-- Header End -->




    <div class="MainBox"> <!-- MainBox Start -->

      <form id="linkInputForm">

        <input type="text" name="ProductName" id="productNameInput"value="" placeholder="Link Title"/>
        <input type="text" name="LongLink" id="longLinkInput" value="" placeholder="Long Link"/>

      </form>
      
      <button id="submitBtn">Submit</button>

    </div><!-- Main Box -->





    <div class="ShortLinkSection">
      <p>Product Name : <span id="productName"></span></p>
      <p>Main Link : <span id="productLink"></span></p>
      <p>Main Short Link : <span id="shortLink"></span></p>
      <p>Name With Short Link :> <span id="nameWithShortLink"></span></p>

      <br />

      <p>Long Link : <span id="longLink"></span></p>
      <p>Raw Short Link : <span id="rawShortLink"></span></p>

      <br />

      <p>Affiliate Link : <span id="affiliateLink"></span></p>
      <p>Affiliate Short Link :> <span id="affiliateShortLink"></span></p>
    </div>




    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  </body><!-- Body End-->
</html>
